{% extends "base_foundation.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
 
<div class="row">
    <div class="large-12">
        <div id="cintillo"></div>
    </div>

    {% include 'menu_perfil.html' %}
 
    <!-- Contact Details -->
    <div class="large-8 columns">
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
          <div class="content" data-slug="panel1">
            <form method="POST">
              <div class="row collapse">
                {% for form in form_educacion %}
                <div class="large-2 columns">
                  <label class="inline">Your Name</label>
                  {{ form.label }}
                </div>
                <div class="large-10 columns">
                  {{ form }}
                </div>
                {% endfor %}
              </div>
             
              <button type="submit" class="radius button">Guardar</button>
            </form>
          </div>
        </section>
        <section class="section">
          <h5 class="title"><a href="#panel2">Specific Person</a></h5>
          <div class="content" data-slug="panel2">
            <ul class="large-block-grid-5">
              <li><a href="mailto:mal@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a></li>
              <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Zoe Washburne</a></li>
              <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Jayne Cobb</a></li>
              <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Simon Tam</a></li>
              <li><a href="mailto:killyouwithmymind@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">River Tam</a></li>
              <li><a href="mailto:leafonthewind@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Hoban Washburne</a></li>
              <li><a href="mailto:book@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Shepherd Book</a></li>
              <li><a href="mailto:klee@serenity.bc.reb"><img src="http://placehold.it/200x200&text=[person]">Kaywinnet Lee Fry</a></li>
              <li><a href="mailto:inara@guild.comp.all"><img src="http://placehold.it/200x200&text=[person]">Inarra Serra</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
 
    <!-- End Contact Details -->
 
 
    <!-- Sidebar -->
 

    <div class="large-4 columns">
        <ul class="vcard">
            <li class="fn"><h3>{{ persona.primer_nombre }} {{ persona.primer_apellido }}</h3></li>
            <li>C.I.: {{ persona.cedula|intcomma }}</li>
            <li>Género: 
                {% ifequal persona.genero 0 %}
                    Masculino
                {% else %}
                    Femenino
                {% endifequal %}
            </li>
            <li>Dirección: {{ persona.direccion }}</li>
            <li>Teléfono:
                    {% ifequal persona.tlf_contacto 'fijo' %}
                        {{ persona.tlf_reside }}
                    {% endifequal %}
                    {% ifequal persona.tlf_contacto 'oficina' %}
                        {{ persona.oficina }}
                    {% endifequal %}
                    {% ifequal persona.tlf_contacto 'movil' %}
                        {{ persona.movil }}
                    {% endifequal %}
            </li>
            <li>Estado civil:
                    {% ifequal persona.estado_civil 's' %}
                        Solter{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
                    {% endifequal %}
                    {% ifequal persona.estado_civil 'c' %}
                        Casad{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
                    {% endifequal %}
                    {% ifequal persona.estado_civil 'd' %}
                        Divorciad{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
                    {% endifequal %}
                    {% ifequal persona.estado_civil 'v' %}
                        Viud{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
                    {% endifequal %}
            </li>
            <li>Email:<a href="mailto:{{ persona.email }}">{{ persona.email }}</a></li>
        </ul>
    </div>
  <!-- End Main Content and Sidebar -->
 
 
  {% include 'footer.html' %} 
 
 
  <!-- Map Modal -->
 
  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600" /></p>
 
    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">&times;</a>
  </div>
    <script type="text/javascript" src="{{ directorio }}foundation/js/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
{% endblock %}
