{% include "base_foundation.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
{% include 'menu_perfil.html' %}
<div class="space">
    <div class="column-group">
        <div class="space">
            <div class="space">
                <div class="large-70">
                    <div class="box">
                        <form action="#" class="ink-form">
                            <fieldset class="column-group">
                                {% for form in educacion_form %}
                                    <div class="control-group required validation">
                                        {{ form.label }}
                                    <div class="control">
                                        {{ form }}
                                    </div>
                                        <p class="tip">{{ form.help_text }}</p>
                                    </div>
                                {% endfor %}
                            </fieldset>
                            <div>
                                <input type="submit" value="Guardar" class="ink-button blue">
                            </div>
                        </form>
                    </div>
                </div>
            
            <div class="large-30">
                {% include "perfil/informacion_personal.html" %}
            </div>
	    </div>
    </div>
</div>

{% include 'footer.html' %} 

    <script type="text/javascript" src="{{ directorio }}foundation/js/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
{% endblock %}
