{% include "base_ink.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}
    <nav class="ink-navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'perfil' %}">Perfil</a></li>
            <li><a href="{% url 'perfil' %}">{{ titulo }}</a></li>
            {% if nueva%}
                <li class="active"><a href="#">Nueva</a></li>
            {% else %}
                <li class="active"><a href="#">Editar</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="space">
        <div class="column-group">
            <div class="space">
                <div class="space">
                    <div class="box">
                        <form class="ink-form" method="POST">{% csrf_token %}
                            <fieldset class="column-group">
                                {% ifequal titulo 'Competencia' %}
                                <h3>Indique su nivel de conocimiento en:</h3>
                                    {% for l_competencia in lista_competencia %}
                                        <table class="ink-table">
                                            <div>
                                                <tr>
                                                    <td>
                                                        <label>{{ l_competencia }}</label>
                                                    </td>
                                                    <td class="content-right">
                                                        <label for="id_nivel">Nivel:</label><br/>
                                                        <select id="id_nivel" name="nivel">
                                                            <option value="experto_{{ l_competencia.id }}">Experto</option>
                                                            <option value="alto_{{ l_competencia.id }}">Alto</option>
                                                            <option value="medio_{{ l_competencia.id }}">Medio</option>
                                                            <option value="basico_{{ l_competencia.id }}">Básico</option>
                                                            <option value="nada_{{ l_competencia.id }}" selected="selected">Nada</option>
                                                        </select>
                                                        </div>
                                                    </td>
                                                </td>
                                            </div>
                                        </table>
                                    {% endfor %}
                                {% else %}
                                    {% for form in formulario %}
                                        <div class="control-group required validation">
                                            {{ form.label }}
                                        <div class="control">
                                            {{ form }}
                                        </div>
                                            <p class="tip">{{ form.help_text }}</p>
                                        </div>
                                    {% endfor %}
                                {% endifequal %}
                            </fieldset>
                            <div>
                                <input type="submit" value="Guardar" class="ink-button blue">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
