{% include "base_ink.html" %}

{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
{% load perfil %}
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}

    <div class="space">
        {% if mensaje %}
            <div class="ink-alert basic {{ tipo_mensaje }}">
                <button class="ink-dismiss" id="cerrar">&times;</button>
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}
        <div class="column-group gutters">
            <div class="large-30 medium-100 small-100 push-left">
                {% include "perfil/informacion_personal.html" %}
            </div>
            <div class="large-70 medium-100 small-100 push-right">
                <div class="box">
                    <section id="aspirantes">
                        <h4><div class="ink-titulo_superior"><i class="icon-check-minus"></i> Requisitos</div></h4>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
