{% include "base_ink.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}
    <nav class="ink-navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Inicio</a></li>
            <li class="active"><a href="#">Perfil</a></li>
        </ul>
    </nav>

    <div class="space">
        {% if mensaje %}
            <div class="ink-alert basic {{ tipo_mensaje }}">
                <button class="ink-dismiss">&times;</button>
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}
        <div class="column-group">
            <div class="space">
                <div class="space">
                    <div class="large-70 medium-50 small-100">
                        <div class="box" id="educacion">
                            <h2 id="curriculum"><div class="ink-titulo_superior"><i class="icon-file-text"></i> Educación</div></h2>
                            <form class="ink-form" method="POST">{% csrf_token %}
                            {% if educaciones %}
                                {% for educacion in educaciones %}
                                    <div class="bottom-space">
                                        <div class="ink-label titulo">{{ educacion.titulo }}</div>
                                    </div>
                                    <div>
                                        <b>{{ educacion.institucion }}</b><br /> <i class="icon-calendar"></i> {{ educacion.fecha_inicio }} - {{ educacion.fecha_fin }}<br />
                                        Nivel: {{ educacion.tipo }}
                                    </div>
                                    <input type="hidden" name="edu_id" value={{ educacion.id }}>
                                    <div class="content-right large-100">
                                        <a href="{% url 'educacion' 'editar' educacion.id %}" class="ink-button blue">Editar</a>
                                        <a href="{% url 'educacion' 'eliminar' educacion.id %}" class="ink-button red">Eliminar</a>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% else %}
                                Usted no posee ninguna información educativa. Por favor, registre una.
                            {% endif %}
                            </form>
                            <div class="content-center large-100">
                                <a href="{% url 'educacion' 'nueva' %}" class="ink-button blue">Añadir educación</a>
                            </div>
                        </div>
                        <div class="box" id="laboral">
                            <h2 id="curriculum"><div class="ink-titulo_superior"><i class="icon-briefcase"></i> Experiencia Laboral</div></h2>
                            {% if laborales %}
                                {% for laboral in laborales %}
                                    <div class="bottom-space">
                                        <div class="ink-label titulo">{{ laboral.empresa}}</div>
                                    </div>
                                    <div>
                                        Trabajando como <b>{{ laboral.cargo }}</b> en el sector de {{ laboral.sector }}
                                        Nivel: {{ educacion.tipo }}
                                    </div>
                                    <div>
                                        <i class="icon-calendar"></i> {{ laboral.fecha_inicio }} - {{ laboral.fecha_fin }}<br />
                                        Función: {{ laboral.funcion }}
                                    </div>
                                    <div class="content-right large-100">
                                        <a href="{% url 'laboral' 'editar' laboral.id %}" class="ink-button blue">Editar</a>
                                        <a href="{% url 'laboral' 'eliminar' laboral.id %}" class="ink-button red">Eliminar</a>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% else %}
                                Usted no posee ninguna información laboral. Por favor, registre una.
                            {% endif %}
                            <div class="content-center large-100">
                                <a href="{% url 'laboral' 'nueva' %}" class="ink-button blue">Añadir información laboral</a>
                            </div>
                        </div>
                        <div class="box" id="competencia">
                            <h2 id="curriculum"><div class="ink-titulo_superior"><i class="icon-tasks"></i> Competencia</div></h2>
                            {% if competencias %}
                                <h4>TITULO</h4>
                                <table class="ink-table">
                                    <tr>
                                        <b>
                                            <td>
                                                Competencia
                                            </td>
                                            <td>
                                                Nivel
                                            </td>
                                        </b>
                                    </tr>
                                    {% for competencia in competencias %}
                                        <tr>
                                            <td>
                                                {{ competencia.competencia }}
                                            </td>
                                            <td>
                                                {{ competencia.nivel }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                    <div class="content-right large-100">
                                        <a href="{% url 'competencia' 'editar' laboral.id %}" class="ink-button blue">Editar</a>
                                        <a href="{% url 'competencia' 'eliminar' laboral.id %}" class="ink-button red">Eliminar</a>
                                    </div>
                            {% else %}
                                Usted no posee ninguna competencia. Por favor, registre una.
                            <div class="content-center large-100">
                                <a href="{% url 'competencia' 'nueva' %}" class="ink-button blue">Añadir competencia</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="box">
                            <h2 id="curriculum"><div class="ink-titulo_superior"><i class="icon-tasks"></i> Conocimiento</div></h2>
                            {% if conocimientos %}
                                {% for conocimiento in conocimientos %}
                                    <h4>TITULO</h4>
                                <hr>
                                {% endfor %}
                                    <div class="content-right large-100">
                                        <a href="{% url 'laboral' 'editar' laboral.id %}" class="ink-button blue">Editar</a>
                                        <a href="{% url 'laboral' 'eliminar' laboral.id %}" class="ink-button red">Eliminar</a>
                                    </div>
                            {% else %}
                                Usted no posee ninguna información laboral. Por favor, registre una.
                            {% endif %}
                            <div class="content-center large-100">
                            </div>
                        </div>
                        <div class="box" id="idioma">
                            <h2 id="curriculum"><div class="ink-titulo_superior"><i class="icon-tasks"></i> Idiomas</div></h2>
                            {% if idiomas %}
                                {% for idioma in idiomas %}
                                    <h4>TITULO</h4>
                                <hr>
                                {% endfor %}
                                    <div class="content-right large-100">
                                        <a class="ink-button blue">FALTA Editar</a>
                                        <a class="ink-button red">FALTA Eliminar</a>
                                    </div>
                            {% else %}
                                Usted no posee ninguna información laboral. Por favor, registre una.
                            {% endif %}
                            <div class="content-center large-100">
                                <a class="ink-button blue">FALTA</a>
                            </div>
                        </div>
                    </div>
                    <div class="large-30 medium-50 small-100">
                        {% include "perfil/informacion_personal.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
