{% extends "base2.html" %}
{% load cms_tags %}
{% block slider %}
{% endblock %}
{% block solicitud %}
<style>
    .approved{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;   
        background: #e9eaee;
        width: 460px;
        margin: 0 auto;
        text-align: center;
        box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
        -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
        -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    }
</style>
<br><br><br>
<div id="interna">
    <div class="informativa">
        <div id="contenedorInformacion">
            <div class="approved">
                <img src="{{ directorio }}images/approved.png" width='250' height='250' >
                    <p style="margin:1em;">
                        Su solicitud ha sido procesada por la Dirección de Recursos Humanos.  En SUSCERTE valoramos el talento humano como pieza fundamental
                        para el desarrollo sustentable científico, tecnológico y de innovación.
                    </p><br>
                <a href="/">
                    <img src="{{ directorio }}images/back.png" width="60" height="60" title="Regresar al menu principal">
                </a>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}
