{% include "base_ink.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}

    <div class="space">
        <form class="ink-form" method="POST">{% csrf_token %}
            <div class="box">
                <div class="column-group" style="background:white">
                    <div class="large-50 medium-100 small-100">
                        <div class="space">
			    <h1><a>¿Olvidó su contraseña?</a></h1>
			    Para poder recuperar su contraseña debe ingresar su correo electrónico. De esta forma le podremos enviar un enlace de reseteo de contraseña.
                        </div>
                    </div>
                    <div class="large-50 medium-100 small-100">
                        <div class="space">
			    <fieldset class="column-group">
				{% for formulario in form %}
				    <div class="control-group required validation">
					{{ formulario.label }}
				    <div class="control">
					{{ formulario }}
				    </div>
					<p class="tip">{{ formulario.help_text }}</p>
				    </div>
				{% endfor %}
			    </fieldset>
			    <div>
				<input type="submit" value="Enviar" class="ink-button blue">
			    </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
