<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
  <title>Registro de Auditores - SUSCERTE</title>

  <!-- CSS  -->
  <link href="{% static "css/styles.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {#<link href="{% static "css/ghpages-materialize.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>#}
</head>
<body>

  {% block nav %}
  <header>
    <div class="mobile-icollapse navbar-fixed">
      <nav class="blue">
        <div class="nav-wrapper container">
          
          <a id="logo-container" href="{% url 'inicio' %}" class="brand-logo black-text"><img class="hide-on-small-only" height="60px" src="{% static "images/logo_suscerte.png" %}"></a>
          {% if not user.is_authenticated %}
              <ul class="right hide-on-med-and-down section">
                <li><a href="#como_registrarse">Cómo registrarse</a></li>
                <li><a href="#auditores">Auditores registrados</a></li>
                <li><a href="#contacto">Contáctanos</a></li>
                <li><a href="{% url 'login' %}"><b>Iniciar sesión</b></a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav blue darken-1">
                <li><a class="white-text"href="#como_registrarse">Cómo registrarse</a></li>
                <li><a class="white-text"href="#auditores">Auditores registrados</a></li>
                <li><a class="white-text"href="#contacto">Contáctanos</a></li>
                <li><a class="white-text" href="#"><b>Iniciar sesión</b></a></li>
              </ul>
            {% else %}
              <ul class="right hide-on-med-and-down section">
                {% if request.path == '/' %}
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                {% endif %}
                <li><a href="{% url 'salir' %}">Cerrar sesión</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav blue darken-1">
                {% if request.path == '/' %}
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                {% endif %}
                <li><a href="{% url 'salir' %}">Cerrar sesión</a></li>
              </ul>
            {% endif %}
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
      </nav>
    </div>
  </header>
  {% endblock %}

  <main>{% block content %}{% endblock %}</main>

  <!--  Scripts-->
  <script src="{% static "js/jquery-2.1.1.min.js"%}"></script>
  <script src="{% static "js/materialize.js"%}"></script>
  <script src="{% static "js/init.js"%}"></script>
  <script>
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 200,
    format: 'dd/mm/yyyy',
    });
  </script>

  <script>
    $(document).ready(function (){
        $("#notificacion").click();
    });
  </script>


  {% if messages %}
      {% for message in messages %}
          <a id="notificacion" onclick="Materialize.toast('{{ message }}', 4000, 'rounded')"></a>
      {% endfor %}
  {% endif %}

  </body>
  {% block footer %}
    {% include 'footer.html' %} 
  {% endblock %}
</html>
