{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	  #map {
       min-height: 700px;
       width: 100%;
       border: 6px solid #dedede;
       margin: 0em auto;
     }
     .restaurant, .bar, .food, .store {
       color: orange;
     }
</style>
<div id="map"></div>
<div id="results"></div>
<div id="food"></div>
<!--
<script type="text/javascript">
$.load(function(){
	$.ajax({
		dataType: "json",
		url: "http://www.tutorialspoint.com/jquery/result.json",
		data: data,
		success: function(data) {
			alert(data);
		}
	});
});
</script>-->

{% endblock %}




{% block js %}

<script type="text/javascript">

	var map;
    var infowindow;
    $.ajax({
	    type: 'GET',
	    url: '/mapa/json/',
	    success: function(data) {


			var caracas = new google.maps.LatLng(10.505029, -66.897519);
			var turmero = new google.maps.LatLng(10.221396, -67.471481);

			map = new google.maps.Map(document.getElementById('map'), {
				center: caracas,
				zoom: 6,
				});
			infowindow = new google.maps.InfoWindow();
			var service = new google.maps.places.PlacesService(map);

			for (var i = 0; i < data.length; i++) {
				var posicion = data[i]
				for (var j = 0; j < data[i].length; j++){
					console.log(data[0][0].geometry);
					service.nearbySearch({
					location: new google.maps.LatLng(posicion[j].geometry.location.lat, posicion[j].geometry.location.lng),
					radius: 500,
					types: ['restaurant']
					}, callback);
				}
			}

			marker = new google.maps.Marker({
			map: map,
			position: caracas
			});


	    },

	});


    function callback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
      }
    }

    function createMarker(place) {
      var specific_icon;
      var food_icon = 'http://www.google.com/intl/en_us/mapfiles/ms/micons/yellow-dot.png';

      switch (true) {
        case (place.types.indexOf('restaurant') != -1):
          specific_icon = food_icon;
          break;
        case (place.types.indexOf('food') != -1):
          specific_icon = food_icon;
          break;
      }

      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location,
        icon: specific_icon
      });

      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }

</script>

{% endblock %}
