{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	  #map {
       min-height: 700px;
       width: 100%;
       border: 6px solid #dedede;
       margin: 0em auto;
     }
     .restaurant, .bar, .food, .store {
       color: orange;
     }
</style>
<!--<div id="map"></div>
<div id="results"></div>
<div id="food"></div>
<script type="text/javascript">
$.load(function(){
	$.ajax({
		dataType: "json",
		url: "http://www.tutorialspoint.com/jquery/result.json",
		data: data,
		success: function(data) {
			alert(data);
		}
	});
});
</script>-->

{% endblock %}




{% block js %}

<script type="text/javascript">
    var variable="543";
    $.ajax({
    type: 'GET',
    url: '/mapa/json/',
    success: function(data) {

    console.log(data);
    alert(data);
    },

});

</script>


{% endblock %}
