{% extends 'base.html' %}
{% load static %}
{% load perfil %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l6">
            <ul class="collection z-depth-1">
                <li class="collection-item">
                    <div class="center-align"><b><a href=#>{{ request.user.first_name }} {{ request.user.last_name}}</a></b></div><br />
                    <p>
                        Nacido el <b>{{ request.user.profile.persona.fecha_nacimiento }}</b><br />
                        Residenciado en <b>{{ request.user.profile.persona.direccion }}, {{ request.user.profile.persona.reside }}</b><br />
                        Cuyo contacto se hace posible a través del número <b>{{ request.user.profile.persona.tlf_reside }}</b> o por el correo electrónico <b><a href="#">{{ request.user.profile.persona.email|mail_antispam }}</a></b>
                    </p>
                    <div class="center-align">
                    <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Editar perfil" href="{% url 'editar_perfil' %}">
                        <i class="mdi-editor-mode-edit large"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col s12 m8 l6">
            <div class="col s12 m6 l12">
                <div class="col11">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-action-assignment circle yellow darken-1"></i>
                        <span class="title"><b>
                            {% if laborales %}
                                <a class="waves-effect waves-light modal-trigger" href="#laboral">
                            {% else %}
                                <a class="waves-effect waves-light" href="#">
                            {% endif %}
                                Información laboral
                            </a>
                        </b></span>
                        <div class="col s1 align right">
                            <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir" href="{% url 'laboral' 'nueva' %}">
                                <i class="large mdi-content-add"></i>
                            </a>
                        </div>
                        {% if laborales %}
                            <div id="laboral" class="modal bottom-sheet">
                              <div class="modal-content">
                                <h4>Usted ha trabajado en...</h4>
                                {% for laboral in laborales %}
                                    <ul class="collection">
                                      <li class="collection-item avatar">
                                        <div class="col s11">
                                            <i class="mdi-file-folder circle green"></i>
                                            <span class="title"><b>{{ laboral.empresa }}</b></span>
                                            <p>Desde {{ laboral.fecha_inicio }}, hasta {{ laboral.fecha_fin }}<br>
                                               como {{ laboral.cargo }} en el sector {{ laboral.sector }}
                                            </p>
                                        </div>
                                        <div class="col s1 right-align">
                                            <a class="btn-floating btn-medium green" href="{% url 'laboral' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                            <a class="btn-floating btn-medium red" href="{% url 'laboral' 'eliminar' laboral.id %}"><i class="mdi-action-delete small"></i></a>
                                        </div>
                                      </li>
                                    </ul>
                                {% endfor %}
                              </div>
                            </div>
                            <p>Has trabajado en...<br></p>
                        {% endif %}
                    </li>
                </ul>
                </div>
            </div>
            <div class="col s12 m6 l12">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-social-school circle green"></i>
                        <span class="title"><b><a class="waves-effect waves-light modal-trigger" href="#formacion">Formación educativa</a></b></span>
                            <div class="col s1 align right">
                                <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir">
                                    <i class="large mdi-content-add"></i>
                                </a>
                            </div>

                        <div id="formacion" class="modal bottom-sheet">
                          <div class="modal-content">
                            <h4>Usted se ha formado en...</h4>
                            <ul class="collection">
                              <li class="collection-item avatar">
                                <div class="col s11">
                                    <i class="mdi-file-folder circle green"></i>
                                    <span class="title"><b>Nombre de institución</b></span>
                                    <p>Desde FECHA, hasta FECHA<br>
                                       como CARGO en el área de AREA
                                    </p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn-floating btn-medium green" href="{% url 'educacion' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                    <a class="btn-floating btn-medium red" href="{% url 'educacion' 'eliminar' %}"><i class="mdi-action-delete small"></i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p>Usted se formó en...<br></p>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l12">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-av-my-library-books circle deep-orange"></i>
                        <span class="title"><b><a class="waves-effect waves-light modal-trigger" href="#cursos">Cursos</a></b></span>
                            <div class="col s1 align right">
                                <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir">
                                    <i class="large mdi-content-add"></i>
                                </a>
                            </div>

                        <div id="cursos" class="modal bottom-sheet">
                          <div class="modal-content">
                            <h4>Ud ha asistido a los siguientes cursos...</h4>
                            <ul class="collection">
                              <li class="collection-item avatar">
                                <div class="col s11">
                                    <i class="mdi-file-folder circle green"></i>
                                    <span class="title"><b>Nombre de institución</b></span>
                                    <p>Desde FECHA, hasta FECHA<br>
                                       como CARGO en el área de AREA
                                    </p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn-floating btn-medium green" href="{% url 'curso' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                    <a class="btn-floating btn-medium red" href="{% url 'curso' 'eliminar' %}"><i class="mdi-action-delete small"></i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p>Usted se formó en...<br></p>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l12">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-maps-beenhere circle blue darken-4"></i>
                        <span class="title"><b><a class="waves-effect waves-light modal-trigger" href="#certificaciones">Certificaciones</a></b></span>
                            <div class="col s1 align right">
                                <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir">
                                    <i class="large mdi-content-add"></i>
                                </a>
                            </div>

                        <div id="certificaciones" class="modal bottom-sheet">
                          <div class="modal-content">
                            <h4>Usted se ha certificado en...</h4>
                            <ul class="collection">
                              <li class="collection-item avatar">
                                <div class="col s11">
                                    <i class="mdi-file-folder circle green"></i>
                                    <span class="title"><b>Nombre de institución</b></span>
                                    <p>Desde FECHA, hasta FECHA<br>
                                       como CARGO en el área de AREA
                                    </p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn-floating btn-medium green" href="{% url 'certificacion' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                    <a class="btn-floating btn-medium red" href="{% url 'certificacion' 'eliminar' %}"><i class="mdi-action-delete small"></i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p>Ud ha asistido a los siguientes cursos...</p>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l12">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-action-settings circle cyan"></i>
                        <span class="title"><b><a class="waves-effect waves-light modal-trigger" href="#habilidades">Habilidades</a></b></span>
                            <div class="col s1 align right">
                                <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir">
                                    <i class="large mdi-content-add"></i>
                                </a>
                            </div>

                        <div id="habilidades" class="modal bottom-sheet">
                          <div class="modal-content">
                            <h4>Sus habilidades son...</h4>
                            <ul class="collection">
                              <li class="collection-item avatar">
                                <div class="col s11">
                                    <i class="mdi-file-folder circle green"></i>
                                    <span class="title"><b>Nombre de institución</b></span>
                                    <p>Desde FECHA, hasta FECHA<br>
                                       como CARGO en el área de AREA
                                    </p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn-floating btn-medium green" href="{% url 'habilidad' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                    <a class="btn-floating btn-medium red" href="{% url 'habilidad' 'eliminar' %}"><i class="mdi-action-delete small"></i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p>Sus habilidades son...<br></p>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l12">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-maps-local-library circle red darken-4"></i>
                        <span class="title"><b><a class="waves-effect waves-light modal-trigger" href="#conocimientos">Conocimientos</a></b></span>
                            <div class="col s1 align right">
                                <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir">
                                    <i class="large mdi-content-add"></i>
                                </a>
                            </div>

                        <div id="conocimientos" class="modal bottom-sheet">
                          <div class="modal-content">
                            <h4>Sus conocimientos fuertes son...</h4>
                            <ul class="collection">
                              <li class="collection-item avatar">
                                <div class="col s11">
                                    <i class="mdi-file-folder circle green"></i>
                                    <span class="title"><b>Nombre de institución</b></span>
                                    <p>Desde FECHA, hasta FECHA<br>
                                       como CARGO en el área de AREA
                                    </p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn-floating btn-medium green" href="{% url 'conocimiento' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                    <a class="btn-floating btn-medium red" href="{% url 'conocimiento' 'eliminar' %}"><i class="mdi-action-delete small"></i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p>Sus conocimientos fuertes son...<br></p>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l12">
                <ul class="collection z-depth-1">
                    <li class="collection-item avatar">
                        <i class="large mdi-action-language circle teal darken-4"></i>
                        <span class="title"><b><a class="waves-effect waves-light modal-trigger" href="#idiomas">Idiomas</a></b></span>
                            <div class="col s1 align right">
                                <a class="btn-floating btn-medium tooltipped blue" data-position="left" data-delay="50" data-tooltip="Añadir">
                                    <i class="large mdi-content-add"></i>
                                </a>
                            </div>

                        <div id="idiomas" class="modal bottom-sheet">
                          <div class="modal-content">
                            <h4>Sabe sobre los siguientes idiomas...</h4>
                            <ul class="collection">
                              <li class="collection-item avatar">
                                <div class="col s11">
                                    <i class="mdi-file-folder circle green"></i>
                                    <span class="title"><b>Nombre de institución</b></span>
                                    <p>Desde FECHA, hasta FECHA<br>
                                       como CARGO en el área de AREA
                                    </p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn-floating btn-medium green" href="{% url 'idioma' 'editar' %}"><i class="mdi-editor-mode-edit small"></i></a>
                                    <a class="btn-floating btn-medium red" href="{% url 'idioma' 'eliminar' %}"><i class="mdi-action-delete small"></i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <p>Sabe sobre los siguientes idiomas...<br></p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
