{% include "base_ink.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}
    <div class="ink-grid">
        <nav class="ink-navigation">
            <ul class="breadcrumbs">
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                <li><a href="{% url 'perfil' %}#{{ titulo }}">{{ titulo|title }}</a></li>
                {% if nueva %}
                    <li class="active"><a href="#">Nueva</a></li>
                {% else %}
                    <li class="active"><a href="#">Editar</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="space">
        <div class="column-group">
            <div class="space">
                <div class="space">
                    <div class="box">
                        {% if mensaje %}
                            <div class="ink-alert basic {{ tipo_mensaje }}">
                                <button class="ink-dismiss">&times;</button>
                                <p>{{ mensaje }}</p>
                            </div>
                        {% endif %}
                        <form class="ink-form" method="POST" onsubmit="return Ink.UI.FormValidator_1.validate(this);">{% csrf_token %}
                            <fieldset class="column-group">
                                {% load perfil %}
                                <h3>Indique el puntaje según las competencias:</h3>
                                <section id="academico">
                                    <div class="content-center"><b>Conocimientos académicos</b></div>
                                    <table class="ink-table">
                                        <thead>
                                            <th>Conocimiento</th>
                                            <th align="right">Puntaje</th>
                                        </thead>
                                        <tbody>
                                        {% for l_competencia in competencias_academicas %}
                                            <tr>
                                                <td>
                                                    <label>{{ l_competencia }}</label><br />
                                                    <span class="small">{{ l_competencia.help_text }}</span>
                                                </td>
                                                <td class="content-right">
                                                     <input type="text">
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                                <section id="academico">
                                    <div class="content-center"><b>Conocimientos básicos</b></div>
                                    <table class="ink-table">
                                        <thead>
                                            <th>Conocimiento</th>
                                            <th align="right">Puntaje</th>
                                        </thead>
                                        <tbody>
                                        {% for l_competencia in competencias_basicas %}
                                            <tr>
                                                <td>
                                                    <label>{{ l_competencia }}</label><br />
                                                    <span class="small">{{ l_competencia.help_text }}</span>
                                                </td>
                                                <td class="content-right">
                                                      {% ifequal l_competencia.id 19 %}
                                                         <input type="text">
                                                      {% else %}
                                                          <select id="id_nivel" name="nivel">
                                                              {% for puntaje in puntajes %}
                                                                  <option value="{{ puntaje }}">{{ puntaje }}</option>
                                                              {% endfor %}
                                                          </select>
                                                      {% endifequal %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                                <section id="academico">
                                    <div class="content-center"><b>Conocimientos complementarios</b></div>
                                    <table class="ink-table">
                                        <thead>
                                            <th>Conocimiento</th>
                                            <th align="right">Puntaje</th>
                                        </thead>
                                        <tbody>
                                        {% for l_competencia in competencias_complementarias %}
                                            <tr>
                                                <td>
                                                    <label>{{ l_competencia }}</label><br />
                                                    <span class="small">{{ l_competencia.help_text }}</span>
                                                </td>
                                                <td class="content-right">
                                                      {% ifequal l_competencia.id 19 %}
                                                         <input type="text">
                                                      {% else %}
                                                          <select id="id_nivel" name="nivel">
                                                              {% for puntaje in puntajes %}
                                                                  <option value="{{ puntaje }}">{{ puntaje }}</option>
                                                              {% endfor %}
                                                          </select>
                                                      {% endifequal %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                                <section id="academico">
                                    <div class="content-center"><b>Conocimientos requeridos</b></div>
                                    <table class="ink-table">
                                        <thead>
                                            <th>Conocimiento</th>
                                            <th align="right">Puntaje</th>
                                        </thead>
                                        <tbody>
                                        {% for l_competencia in competencias_requeridas %}
                                            <tr>
                                                <td>
                                                    <label>{{ l_competencia }}</label><br />
                                                    <span class="small">{{ l_competencia.help_text }}</span>
                                                </td>
                                                <td class="content-right">
                                                      <select id="id_nivel" name="nivel">
                                                          {% for puntaje in puntajes %}
                                                              <option value="{{ puntaje }}">{{ puntaje }}</option>
                                                          {% endfor %}
                                                      </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                                <section id="auditoria">
                                    <div class="content-center"><b>Experticia en auditoría</b></div>
                                    <table class="ink-table">
                                        <thead>
                                            <th>Conocimiento</th>
                                            <th align="right">Puntaje</th>
                                        </thead>
                                        <tbody>
                                        {% for l_competencia in competencias_auditoria %}
                                            <tr>
                                                <td>
                                                    <label>{{ l_competencia }}</label><br />
                                                    <span class="small">{{ l_competencia.help_text }}</span>
                                                </td>
                                                <td class="content-right">
                                                      <select id="id_nivel" name="nivel">
                                                          {% for puntaje in puntajes %}
                                                              <option value="{{ puntaje }}">{{ puntaje }}</option>
                                                          {% endfor %}
                                                      </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            </fieldset>
                            <div>
                                <input type="submit" value="Guardar" class="ink-button blue">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
