<!-- Footer -->

<div class="ink-grid">
    <nav class="ink-navigation hide-small hide-medium ie7 sticky">
        <ul class="menu horizontal" style="padding-left:35px;">
            <li><a href="http://www.presidencia.gob.ve/"><img src="/main/static/images/presidencia.jpg"></a></li>
            <li><a href="http://www.vicepresidencia.gob.ve"><img src="/main/static/images/vice.jpg"></a></li>
            <li><a href="http://www.mcti.gob.ve/"><img src="/main/static/images/ministerio.jpg"></a></li>
            <li><a href="http://www.cantv.net/"><img src="/main/static/images/cantv.jpg"></a></li>
            <li><a href="http://www.fidetel.gob.ve/"><img src="/main/static/images/fidetel.jpg"></a></li>
            <li><a href="http://www.fonacit.gob.ve/"><img src="/main/static/images/fonacit.jpg"></a></li>
            <li><a href="http://www.cnti.gob.ve/"><img src="/main/static/images/cnti.jpg"></a></li>
            <li><a href="http://www.telecom.gob.ve/"><img src="/main/static/images/telecom.jpg"></a></li>
        </ul>
    </nav>
</div>

<!-- End Footer -->
