{% include "base_ink.html" %}



{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    <nav class="ink-navigation ink-grid hide-small hide-medium ie7 sticky">
        <ul class="menu horizontal shadowed grey">
        <li class=><a href="#"><img height="30" src="/main/static/images/logo_suscerte.png"></a> </li>
        <div class="push-right">
            {% if not user.is_authenticated %}
                <form method="POST" class="ink-form">{% csrf_token %}
                    <fieldset class="column-group gutters">
                        {% ifnotequal error '' %}
                            <li>
                                <div class="small top-space horizontal-space">
                                    <span class="tooltip ink-label error"
                                        data-tip-text="{{ error }}"
                                        data-tip-where="down"
                                        data-tip-color="red">
                                        Ver error
                                    </span>
                                </div>
                            </li>
                        {% endifnotequal %}
                        <li>
                            <div class="control-group validation {{ tipo_mensaje }}">
                                <div class="control">
                                    {{ formulario.username }}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="control-group validation {{ tipo_mensaje }}">
                                <div class="control">
                                    {{ formulario.password }}
                                </div>
                            </div>
                        </li>
                        <li>
                            <input type="submit" class="ink-button">
                        </li>
                    </fieldset>
                </form>
            {% endif %}
        </ul>
    </nav>

    <div class="ink-grid">
        <nav class="ink-navigation" id="educacion">
            <ul class="breadcrumbs">
                <li><a href="/">Inicio</a></li>
                <li class="active"><a href="#">Perfil</a></li>
            </ul>
        </nav>
    </div>

    <div class="space">
        {% if mensaje %}
            <div class="ink-alert basic {{ tipo_mensaje }}">
                <button class="ink-dismiss" id="cerrar">&times;</button>
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
