     <nav class="top-bar" data-topbar>
        <ul class="title-area blue" >
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/">
                SUSCERTE
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
     
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
            <a href="{% url 'curriculum' %}">Currículum</a>
              <ul class="dropdown">
                <li><label>Actualiza tus datos</label></li>
                <li><a href="{% url 'personales' %}">Personales</a></li>
                <li><a href="#">Educativos</a></li>
                <li><a href="#">Laboral</a></li>
                <li><a href="#">Conocimientos</a></li>
                <li><a href="#">Idiomas</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Configuración</a>
              <ul class="dropdown">
                <li><a href="#">Cambiar contraseña</a></li>
                <li><a href="{% url 'perfil' %}">Ver perfil</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
     
      <!-- End Top Bar -->
 
 
