<nav class="ink-navigation ink-grid hide-small hide-medium ie7 sticky">
    <ul class="menu horizontal shadowed grey">
    <li class=><a href="#"><img height="30" src="/main/static/images/logo_suscerte.png"></a> </li>
    {% if not auth %}
        {% if user.is_authenticated %}
            <div class="push-right">
                <li><a class="scrollableLink" href="{% url 'info_personal' %}">Perfil</a></li>
                <li><a class="scrollableLink" href="#">Currículum <i class="icon-caret-down"></i></a>
                    <ul class="submenu">
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#educacion">Educativos</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#laboral">Laboral</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#competencias">Competencias</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#habilidades">Habilidades</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#otros_conocimientos">Conocimientos</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#idioma">Idiomas</a></li>
                    </ul>
                </li>
                <li><a class="scrollableLink" href="#">Configuración <i class="icon-caret-down"></i></a>
                    <ul class="submenu">
                        <li><a class="small" href="{% url 'cambiar_clave' %}">Cambiar contraseña</a></li>
                        <li><a class="small" href="{% url 'salir' %}">Cerrar sesión</a></li>
                    </ul>
                </li>
            </div>
        {% endif %}
    {% endif %}
    </ul>
</nav>


<nav class="ink-navigation ink-grid hide-all show-medium show-small">
    <ul class="menu horizontal shadowed grey">
        <li class="title">
        
            <a href="/"><img height="30" src="/main/static/images/logo_suscerte.png"></a> 
        </li>           
        <li class="push-right">           
            <a class="toggle push-right" data-target="#topbar_menu"><span class="icon-reorder icon-large"></span></a>
        </li>           
    </ul>

    <ul class="menu vertical flat gray hide-all" id="topbar_menu">
    <div class="push-right">
        <li><a class="scrollableLink" href="{% url 'info_personal' %}">Perfil</a></li>
        <li><a class="scrollableLink" href="{% url 'cambiar_clave' %}">Currículum <i class="icon-caret-down"></i></a>
            <ul class="submenu">
                <li><a class="scrollableLink" href="{% url 'perfil' %}#educacion">Educativos</a></li>
                <li><a class="scrollableLink" href="{% url 'perfil' %}#laboral">Laboral</a></li>
                <li><a class="scrollableLink" href="{% url 'perfil' %}#competencias">Competencias</a></li>
                <li><a class="scrollableLink" href="{% url 'perfil' %}#habilidades">Habilidades</a></li>
                <li><a class="scrollableLink" href="{% url 'perfil' %}#conocimiento">Conocimientos</a></li>
                <li><a class="scrollableLink" href="{% url 'perfil' %}#idioma">Idiomas</a></li>
            </ul>
        </li>
        <li><a class="scrollableLink" href="{% url 'cambiar_clave' %}">Perfil <i class="icon-caret-down"></i></a>
            <ul class="submenu">
                <li class="small"><a href="{% url 'cambiar_clave' %}">Cambiar contraseña</a></li>
                <li class="small"><a href="{% url 'salir' %}">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
